<section class="dashboard">
  <h1>Welcome to the Admin Dashboard</h1> 
  
  <div class="cards">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Products</h5>
        <p class="card-text">There are currently <%= @products_count %> products in the database.</p>
        <a href="/admin/products" class="btn btn-success">See Admin Index</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <p class="card-text">There are currently <%= @categories_count %> categories in the database.</p>
        <a href="/admin/products" class="btn btn-success">See Admin Index</a>
      </div>
    </div>
  </div>
</section>
